:root{
    --bs-primary: #933C24;
    --bs-primary-hover: #70240f;
    --bs-secondary: #E9BD8C;
    --bs-white-smoke:#F5F5F5;
    --bs-light-black: #111111;
    --bs-font-btn-weight-600: 600;
    --bs-font-sanista-swashed: "Sansita Swashed";
    --bs-font-inter: "Inter";
}
body {
    margin: 0px;
    padding: 0px;
}

.btn-primary{
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    font-weight: var(--bs-font-btn-weight-600) !important;
}
.btn-primary:hover{
    background-color: var(--bs-primary-hover) !important;
    border-color: var(--bs-primary-hover) !important;

}



.bg-heading-img {

    background-image: url("../images/header_background.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.up-heading-text {
    font-family: var(--bs-font-inter);
    font-size: 0.9rem;
    color: var(--bs-secondary);
    font-weight: 500;

}

.heading-text {
    font-family: var(--bs-font-sanista-swashed);
    font-size: 5rem;
    color: var(--bs-white-smoke);
    line-height: 1.2;
}

.heading-btn-shop-learn{
    margin-top: 4.5rem;
}


.heading-learn-more{

    text-decoration: none;
    font-family: "inter";
    color: var(--bs-secondary);
    font-weight: 400;
    
}

.top-product-heading{

    font-size: 3rem;
    font-family: "Sansita Swashed";
    color: var(--bs-light-black);
    font-weight: 600;
}
.top-product-card{
    background-image: url("../images/top_product_bg.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.top-product-card-img{

    width: 16vw;
    /* height: 40vh; */

}
.top-product-card-rate{
    font-family: "Inter";
    font-weight: 600;
    color: white;
    font-size: 1.3rem;
}
.top-product-card-text{

    font-family: "Inter";
    font-weight: 400;
    color: white;
    font-size: 1.3rem;
    line-height: 1.2;
}