body {
    margin: 0px;
    padding: 0px;
}


.bg-h-img {

    background-image: url("../images/header_background.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
    align-items: center;

}

.up-h-text {
    font-family: "Sansita Swashed", system-ui;
    font-size: 1rem;
    color: #E9BD8C;
}

.h-text {
    font-family: "Sansita Swashed", system-ui;
    font-size: 4rem;
    color: #F5F5F5;

}